@CHARSET "UTF-8";

.navbar-default .navbar-brand {
	padding: 5px 15px 0 15px;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
	/* Set the fixed height of the footer here */
	height: 60px;
	width: 100%;
	background-color: #73BF4D;
	position: fixed;
	bottom: 0px;
	left: 0px;
	color: #ffffff;
}

.notification {
	position: fixed;
	top: 18%;
	right: 2%;
	min-width: 300px;
	width: 30%;
	z-index: 9999;
}