@CHARSET "UTF-8";

.navbar-nav {
	width: 50%;
}

.navbar-nav > li {
	width: 17%;
}

.navbar-default .navbar-brand {
	padding: 5px 15px 0 15px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 55px;
	background-color: #73BF4D;
	color: #ffffff;
}

.notification {
	position: fixed;
	top: 20%;
	right: 2%;
	min-width: 300px;
	width: 30%;
	z-index: 9999;
}
